<div class="container">
    <hr>
    <div class="row">
        <div class="col-sm-9 col-md-10">
            <!-- Nav tabs -->
            <ul class="nav nav-tabs">
                <li class="active"><a href="#home" data-toggle="tab"><span class="glyphicon glyphicon-inbox">
                </span>Primary</a></li>
            </ul>
            <!-- Tab panes -->
            <div class="tab-content">
                <div class="tab-pane fade in active" id="home">
                    <div class="list-group" id="threads">

                    </div>
                </div>
            </div>
            <div id="drawer">
                <div id="drawer-content">
                </div>
            </div>
        </div>
    </div>
</div>