<div id="zone_3_notifications">
    <div class="message-sent-notification hide"></div>
    <div class="loading-thread-text hide"></div>
</div>
<div class="column column-threads col-md-11 threads-mobile">
    <div class="column-content">
        <div class="view view-threads">
            <div id="threads"></div>
        </div>
    </div>
</div>
<!--infinite scroll loading-->
<div class="hide" id="loading-threads-text">Loading ...</div>